
<h3>Alternative Investment Fund</h3>

<!-- Search Section -->
<div class="search-section">
  <p-autoComplete 
    field="nickname" placeholder="Search MF..." [minLength]="1">
  </p-autoComplete>

  
</div>


<!-- Carousel -->
<p-carousel 
  [value]="aifList" 
  [numVisible]="3" 
  [numScroll]="3" 
  [circular]="false" 
  [responsiveOptions]="responsiveOptions"
  styleClass="custom-carousel">

  <ng-template let-item pTemplate="item">
    <p-card styleClass="mf-card" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
        <div class="card-color"></div>
      </ng-template>
      <div class="card-title">{{ item.name }}</div>
      <div class="card-value">{{ item.value }}</div>
      <div class="status">{{ item.entityId }}</div>
    </p-card>
  </ng-template>
</p-carousel>

