/* ===== Carousel ===== */
:host ::ng-deep .p-carousel {
  padding: 1rem 0;
}

:host ::ng-deep .p-carousel-item {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

/* Optionally enforce 3 equal items (keeps PrimeNG math intact) */
:host ::ng-deep .p-carousel .p-carousel-item {
  flex: 0 0 calc(100% / 3) !important;
  max-width: calc(100% / 3) !important;
}

/* Prevent wrapping & show ellipsis in datatable too */
:host ::ng-deep .p-datatable td {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* ===== Card Container ===== */
.counts-card .p-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  background: #fff;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}


/* ===== Card Container ===== */
.counts-card .p-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  background: #fff;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}

/* ===== Card Content ===== */
.counts-card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

/* ===== Legend ===== */
.counts-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font: 500 15px/1.5 "Inter", sans-serif;
  color: #344054;
  max-width: 500px;
  padding-left: .5rem;
}

.count-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.count-item .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  flex-shrink: 0;
}

.label {
  flex: 1;
  font-weight: 500;
  color: #1f2937;
  white-space: nowrap;
}

.percent {
  font-weight: 500;
  color: #1f2937;
  font-size: 14px;
  text-align: right;
  min-width: 60px;
}

/* ===== Chart ===== */
.chart-section {
  flex: 1px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-section p-chart {
  width: 100% !important;
  height: 100% !important;
}

/* ===== Dot Colors for Tags ===== */
.dot.lcap {
  background: #42A5F5;
}

/* Large Cap - Blue */
.dot.mcap {
  background: #66BB6A;
}

/* Mid Cap - Green */
.dot.scap {
  background: #FFA726;
}

/* Small Cap - Orange */
.dot.Unknown {
  background: #AB47BC;
}

/* Unknown / Others - Purple */

.counts-card {
  margin-top: 2rem;
  /* or any value you prefer */
}

.back-btn {
  background: rgba(49, 36, 36, 0.2);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  i {
    font-size: 1rem;
  }

  &:hover {
    background: rgba(41, 40, 40, 0.3);
    transform: scale(1.1);
  }

}

.first-div {
  display: flex;
  align-items: center;
  gap: 20px;
}