<h3>Welcome To The Master Mutual Fund</h3>

<!-- Search Section -->
<div class="search-section">
  <p-autoComplete [(ngModel)]="selectedMfName" [suggestions]="filteredMfNames" (completeMethod)="searchMfs($event)"
    (onSelect)="scrollToMf($event)" field="nickname" placeholder="Search MF..." [minLength]="1">
  </p-autoComplete>

  <button *ngIf="selectedMfName" pButton icon="pi pi-times" class="p-button-text" (click)="clearSearch()">
  </button>
</div>

<!-- Carousel -->
<p-carousel [value]="displayMfs" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" *ngIf="!selectedMfName">

  <ng-template let-mf pTemplate="item">
    <p-card styleClass="P-card" (click)="goToMfDetails(mf)" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
<div class="card-color" [ngStyle]="{'background-color': mf.color}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title" [title]="mf.nickname">{{ mf.nickname || 'No Name' }}</div>
      <div class="card-value">{{ mf.subcategory || 'No Subcategory' }}</div>
      <div class="status">{{ mf.entityid }}</div>
    </p-card>
  </ng-template>
</p-carousel>

<!-- Search Result Card -->
<div *ngIf="selectedMfName" class="card-container">
  <p-card *ngFor="let mf of displayMfs" styleClass="P-card">
    <ng-template pTemplate="header">
<div class="card-color" [ngStyle]="{'background-color': mf.color}"></div>
    </ng-template>
    <!-- Truncate with ellipsis & tooltip -->
    <div class="card-title" [title]="mf.nickname">{{ mf.nickname || 'No Name' }}</div>
    <div class="card-value">{{ mf.subcategory || 'No Subcategory' }}</div>
    <div class="status">{{ mf.entityid }}</div>
  </p-card>
</div>


<h3>Summary Of Actions</h3>
<!-- Search Box -->
<div class="search-container half-width">
  <span class="p-input-icon-left search-bar">
    <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." />
  </span>
</div>

<!-- Entity Table -->
<p-table #dt [value]="actionTableList" dataKey="id" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
  [globalFilterFields]="['unit', 'order_date', 'order_type', 'purchase_amount','scrip_name']" scrollHeight="700px">
  <ng-template pTemplate="header">
    <tr>
      <th>Scrip Name</th>
      <th>Units</th>
      <th>Order Date</th>
      <th>Action</th>
      <th>Amount</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.scrip_name }}</td>
      <td>{{ entity.unit }}</td>
      <td>{{ entity.order_date }}</td>
      <td>{{ entity.order_type }}</td>
      <td>{{ entity.purchase_amount }}</td>
    </tr>
  </ng-template>
</p-table>
