

<h1>Alternative Investment Fund {{aifId}}</h1>

<h3>Underlying Properties</h3>

<!-- Search Box -->
<div class="search-container half-width">
  <span class="p-input-icon-left search-bar">
    <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." />
  </span>
</div>

<!-- Underlying Table -->
<p-table
  #dt
  [value]="underlyingList"
  dataKey="id"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [globalFilterFields]="['company_name','scripcode', 'weightage', 'sector']"
  scrollHeight="400px"
  [responsiveLayout]="'scroll'"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="company_name">Company Name <p-sortIcon field="company_name"></p-sortIcon></th>
      <th pSortableColumn="scripcode">Scrip Code  <p-sortIcon field="scripcode"></p-sortIcon></th>
      <th pSortableColumn="weightage">Weightage  <p-sortIcon field="weightage"></p-sortIcon></th>
      <th pSortableColumn="sector ">sector  <p-sortIcon field="sector "></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.scrip_name }}</td>
      <td>{{ entity.scripCode }}</td>
      <td>{{ entity.weightage }}</td>
      <td>{{ entity.mCap }}</td>
    </tr>
  </ng-template>
</p-table>

<!-- summary of action -->


<h3>Summary Of Actions</h3>



<!-- Action Table -->
<p-table
  #dt
  [value]="contractNote"
  dataKey="id"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [globalFilterFields]="['amc_name', 'num_units', 'trans_date', 'trans_type', 'contribution_amount']"
  scrollHeight="400px"
  [responsiveLayout]="'scroll'"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="amc_name">Scrip Name <p-sortIcon field="amc_name"></p-sortIcon></th>
      <th pSortableColumn="num_units">Units <p-sortIcon field="num_units"></p-sortIcon></th>
      <th pSortableColumn="trans_date">Order Date <p-sortIcon field="trans_date"></p-sortIcon></th>
      <th pSortableColumn="trans_type">Action <p-sortIcon field="trans_type"></p-sortIcon></th>
      <th pSortableColumn="contribution_amount">Amount <p-sortIcon field="contribution_amount"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.amc_name }}</td>
      <td>{{ entity.num_units }}</td>
      <td>{{ entity.trans_date }}</td>
      <td>{{ entity.trans_type }}</td>
      <td>{{ entity.amount_invested }}</td>
    </tr>
  </ng-template>
</p-table>
