
<!-- Search Section -->
<div class="search-section" style="margin-left: 70px;">
  <p-autoComplete [(ngModel)]="selectedEquityName" [suggestions]="filteredENames"
    (completeMethod)="searchDEs($event)" (onSelect)="scrollToDE($event)" field="subcategory" placeholder="Search Fixed Income.."
    [minLength]="1">
  </p-autoComplete>

  <button *ngIf="selectedEquityName" pButton icon="pi pi-times" class="p-button-text" (click)="clearSearch()">
  </button>
</div>

<!-- Carousel -->
<p-carousel [value]="displayEs" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" *ngIf="!selectedEquityName">

  <ng-template let-e pTemplate="item">
    <p-card styleClass="P-card" (click)="goToFixedIncomeDetails(e)" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
        <div class="card-color" [ngStyle]="{'background-color': e.color}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title" [pTooltip]="e.subcategory">{{ e.subcategory || 'No Subcategory' }}</div>
      <div class="card-value">{{ e.category || 'No Category' }}</div>
      <div class="status">Total Entity Count : {{ e.total }}</div>
    </p-card>
  </ng-template>
</p-carousel>

<!-- Search Result Card -->
<p-carousel *ngIf="selectedEquityName" [value]="filteredENames" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">
  
  <ng-template let-e pTemplate="item">
    <p-card styleClass="P-card" [ngStyle]="{ cursor: 'pointer'}" (click)="goToFixedIncomeDetails(e)">
      <ng-template pTemplate="header">
        <div class="card-color" [ngStyle]="{'background-color': e.color}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title" [pTooltip]="e.subcategory">{{ e.subcategory || 'No Subcategory' }}</div>
      <div class="card-value">{{ e.category || 'No Category' }}</div>
      <div class="status">Total Entity Count : {{ e.total }}</div>
    </p-card>
  </ng-template>
</p-carousel>
