<h3>Welcome To The {{actionTableList[0]?.scrip_name || "Mutual Fund"}}</h3>

<div class="table-card">
  <div class="search-header p-d-flex p-ai-center p-jc-between">
    <h4>
      Summary Of Actions
      <button pButton type="button" label="IRR = {{ irrResult || 0 }}%" class="p-button-sm ml-2"
        style="height: 28px;"></button>
    </h4>
    <div class="search-container">
      <input pInputText type="text" (input)="onGlobalFilter($event, 'action')" placeholder="Search actions..." />
    </div>
  </div>

  <p-table #actionTableSummary [value]="actionTableList" dataKey="id" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,25,50]" [scrollable]="true" [virtualScroll]="true"
    [globalFilterFields]="['sett_no','unit','order_number','purchase_amount','redeem_amount']" scrollHeight="600px"
    responsiveLayout="scroll" [resizableColumns]="true" columnResizeMode="expand" class="custom-table">

    <!-- Header -->
    <ng-template pTemplate="header">
      <!-- <tr>
        <th colspan="4"> Total Available Units → Units: {{ availableUnits | number:'1.2-2' }}</th>
        <th colspan="5"> Total Available Amount → {{ availableAmount | currency:'INR' }}</th>
      </tr>
      <tr>
        <th colspan="4"> Total Units Sold → Units: {{ totalSalesUnits | number:'1.2-2' }} </th>
        <th colspan="5"> Total Sold Amount → {{ totalSalesAmount | currency:'INR' }}</th>
      </tr>
            <tr>
        <th colspan="9"> Total Value → {{ totalValue | currency:'INR' }}</th>
      </tr> -->
      <tr>
        <th pSortableColumn="order_number">Order No <p-sortIcon field="order_number"></p-sortIcon></th>
        <th pSortableColumn="order_date">Order Date <p-sortIcon field="order_date"></p-sortIcon></th>
        <th pSortableColumn="nav">NAV <p-sortIcon field="nav"></p-sortIcon></th>
        <th pSortableColumn="unit">Units <p-sortIcon field="unit"></p-sortIcon></th>
        <th pSortableColumn="order_type">Action <p-sortIcon field="order_type"></p-sortIcon></th>
        <th pSortableColumn="purchase_amount">Amount <p-sortIcon field="purchase_amount"></p-sortIcon></th>
        <th pSortableColumn="net_amount">Net Amount <p-sortIcon field="purchase_amount"></p-sortIcon></th>
        <th pSortableColumn="redeem_amount">Redeem Amount <p-sortIcon field="redeem_amount"></p-sortIcon></th>
        <th pSortableColumn="sett_no">Sett No <p-sortIcon field="sett_no"></p-sortIcon></th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{ entity.order_number }}</td>
        <td>{{ entity.order_date }}</td>
        <td>{{ entity.nav | number:'1.2-2' }}</td>
        <td>{{ entity.unit | number:'1.2-2' }}</td>
        <td><p-tag [value]="entity.order_type" [severity]="getSeverity(entity.order_type)" /></td>
        <td>{{ entity.purchase_amount | number:'1.2-2' }}</td>
        <td>{{ entity.net_amount | number:'1.2-2' }}</td>
        <td>{{ entity.redeem_amount | number:'1.2-2' }}</td>
        <td>{{ entity.sett_no }}</td>

      </tr>
    </ng-template>

    <!-- Footer (Summary Row) -->
    <ng-template pTemplate="footer">
      <tr class="summary-row">
        <td colspan="9" class="summary green">
          Total Available Units → Units: {{ availableUnits | number:'1.2-2' }} |
          Amount: {{ availableAmount | currency:'INR' }}
        </td>
      </tr>
      <tr class="summary-row">
        <td colspan="9" class="summary blue">
          Total Value → {{ totalValue | currency:'INR' }}
        </td>
      </tr>
      <tr class="summary-row">
        <td colspan="9" class="summary red">
          Total Units Sold → Units: {{ totalSalesUnits | number:'1.2-2' }} |
          Amount: {{ totalSalesAmount | currency:'INR' }}
        </td>
      </tr>

    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="5">No Records found</td>
      </tr>
    </ng-template>

  </p-table>
</div>

<div class="table-card">
  <h4>Summary Of Underlying</h4>
  <div class="search-header p-d-flex p-ai-center p-jc-between">

    <div class="underlying-date">
      Last Updated At
      <span class="date-badge">
        {{ underlyingTableList[0]?.created_at | date:'dd MMM yyyy' }}
      </span>
    </div>

    <div class="search-container">
      <input pInputText type="text" (input)="onGlobalFilter($event, 'underlying')" placeholder="Search underlying..." />
    </div>
  </div>

  <p-table #underlyingTable [value]="underlyingTableList" dataKey="id" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['scripcode','weightage','isin_code','company_name']"
    scrollHeight="600px" responsiveLayout="scroll" [resizableColumns]="true" columnResizeMode="expand"
    class="custom-table">

    <!-- Header -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="company_name">Company Name <p-sortIcon field="company_name"></p-sortIcon></th>
        <th pSortableColumn="scripcode">Scrip Code <p-sortIcon field="scripcode"></p-sortIcon></th>
        <th pSortableColumn="weightage">Weightage <p-sortIcon field="weightage"></p-sortIcon></th>
        <th pSortableColumn="sector">Sector <p-sortIcon field="sector"></p-sortIcon></th>
        <th pSortableColumn="tag">Tag <p-sortIcon field="tag"></p-sortIcon></th>
        <th pSortableColumn="isin_code">ISIN <p-sortIcon field="isin_code"></p-sortIcon></th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{ entity.company_name }}</td>
        <td>{{ entity.scripcode }}</td>
        <td>{{ entity.weightage }} %</td>
        <td>{{ entity.sector }}</td>
        <td>{{ entity.tag }}</td>
        <td>{{ entity.isin_code }}</td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="6">No Records found</td>
      </tr>
    </ng-template>

  </p-table>
</div>

<!-- Pie Chart Card -->
<div class="counts-card" style="margin-bottom: 2rem;">
  <p-card styleClass="P-card">
    <h4>MCAP Tag Allocation</h4>
    <div class="card-content">
      <div class="counts-section">
        <div>
          <h4>Total Number of Underlying : {{underlyingTableList.length}}</h4>
        </div>
        <div class="count-item">
          <span class="dot lcap"></span>
          <span class="label">Large Cap</span>
          <span class="percent">{{ actionCounts?.lcap_percent | number:'1.0-1' }}%</span>
        </div>
        <div class="count-item">
          <span class="dot mcap"></span>
          <span class="label">Mid Cap</span>
          <span class="percent">{{ actionCounts?.mcap_percent | number:'1.0-1' }}%</span>
        </div>
        <div class="count-item">
          <span class="dot scap"></span>
          <span class="label">Small Cap</span>
          <span class="percent">{{ actionCounts?.scap_percent | number:'1.0-1' }}%</span>
        </div>
      </div>

      <div class="chart-section">
        <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>
  </p-card>
</div>