
<!-- Search Section -->
<div class="search-section" style="margin-left: 70px;">
  <p-autoComplete [(ngModel)]="selectedCommoditiesName" [suggestions]="filteredCommodityNames"
    (completeMethod)="searchDEs($event)" (onSelect)="scrollToDE($event)" field="subcategory" placeholder="Search Commodity.."
    [minLength]="1">
  </p-autoComplete>

  <button *ngIf="selectedCommoditiesName" pButton icon="pi pi-times" class="p-button-text" (click)="clearSearch()">
  </button>
</div>

<!-- Carousel -->
<p-carousel [value]="displayCDs" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" *ngIf="!selectedCommoditiesName">

  <ng-template let-com pTemplate="item">
    <p-card styleClass="P-card" (click)="goToCommodityDetails(com)" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
        <div class="card-color" [ngStyle]="{'background-color': com.color}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title"  [pTooltip]="com.subcategory">{{ com.subcategory || 'No Subcategory' }}</div>
      <div class="card-value">{{ com.category || 'No Category' }}</div>
      <div class="status">Total Entity Count : {{ com.total }}</div>
    </p-card>
  </ng-template>
</p-carousel>

<!-- Search Result Card -->
<p-carousel *ngIf="selectedCommoditiesName" [value]="filteredCommodityNames" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">
  
  <ng-template let-com pTemplate="item">
    <p-card styleClass="P-card" [ngStyle]="{ cursor: 'pointer'}" (click)="goToCommodityDetails(com)">
    <ng-template pTemplate="header">
      <div class="card-color" [ngStyle]="{'background-color': com.color}"></div>
    </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title"  [pTooltip]="com.subcategory">{{ com.subcategory || 'No Subcategory' }}</div>
      <div class="card-value">{{ com.category || 'No Category' }}</div>
      <div class="status">Total Entity Count : {{ com.total }}</div>
    </p-card>
  </ng-template>
</p-carousel>



<!-- Pie Chart Card -->
<div class="counts-card" style="margin-bottom: 2rem;">
  <p-card styleClass="P-card">
    <h4>Summary Of Allocation</h4>
    <div class="card-content">
      <div class="counts-section">
        <div>
          <h4>Total Action Table : {{actionTableList.length}}</h4>
        </div>
        <div class="count-item">
          <span class="dot lcap"></span>
          <span class="label">Mutual Fund</span>
          <span class="percent">{{ actionCounts?.action_percent || 0 }}%</span>
        </div>
        <div class="count-item">
          <span class="dot mcap"></span>
          <span class="label">Alternative Investment Funds</span>
          <span class="percent">{{ actionCounts?.aif_percent || 0 }}%</span>
        </div>
        <div class="count-item">
          <span class="dot scap"></span>
          <span class="label">Direct Equity</span>
          <span class="percent">{{ actionCounts?.equity_percent || 0 }}%</span>
        </div>
      </div>

      <div class="chart-section">
        <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>
  </p-card>
</div>

<div class="table-card" style="margin-top: 2rem;">
<h3>Summary Of Actions</h3>

<h4>ETF Table</h4>
<p-table [value]="actionTableList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 25, 100, 500, 1000]">
  <ng-template pTemplate="header">
    <tr>
      <th>Scrip Name</th>
      <th>Order Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.scrip_name }}</td>
      <td>{{ entity.order_type }}</td>
    </tr>
  </ng-template>
</p-table>

<h4>AIF Action Table</h4>
<p-table [value]="aifTableList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 25, 100, 500, 1000]">
  <ng-template pTemplate="header">
    <tr>
      <th>AMC Name</th>
      <th>Contribution Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.amc_name }}</td>
      <td>{{ entity.contribution_amount | number:'1.2-2' }}</td>
    </tr>
  </ng-template>
</p-table>

<h4>Direct Equity Action Table</h4>
<p-table [value]="equityTableList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 25, 100, 500, 1000]">
  <ng-template pTemplate="header">
    <tr>
      <th>Order Type</th>
      <th>Trade Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.order_type }}</td>
      <td>{{ entity.trade_price | number:'1.2-2' }}</td>
    </tr>
  </ng-template>
</p-table>
</div>