<!-- Search Section -->
<div class="search-section"   style="margin-left: 70px;">
  <p-autoComplete [(ngModel)]="selectedInstrumentName" [suggestions]="filteredInstrumentNames"
    (completeMethod)="searchDEs($event)" (onSelect)="scrollToDE($event)" field="nickname" placeholder="Search E..."
    [minLength]="1">
  </p-autoComplete>

  <button *ngIf="selectedInstrumentName" pButton icon="pi pi-times" class="p-button-text" (click)="clearSearch()">
  </button>
</div>

<!-- Carousel -->
<p-carousel [value]="displayInstruments" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" *ngIf="!selectedInstrumentName">

  <ng-template let-e pTemplate="item">
    <p-card styleClass="P-card" (click)="goToInstrumentDetails(e)" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
        <div class="card-color" [ngStyle]="{'background-color': e.color}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title" [pTooltip]="e.instrument">{{ e.instrument.replace('_', ' ') || 'No instrument' }}</div>
      <div class="card-value">{{ e.instrument.replace('_', ' ') || 'No instrument' }}</div>
      <div class="status">Total Instrument Count : {{ e.instrument_total_count }}</div>
    </p-card>
  </ng-template>
</p-carousel>

<!-- Search Result Card -->
<div *ngIf="selectedInstrumentName" class="card-container">
  <p-card *ngFor="let e of displayInstruments" styleClass="P-card">
    <ng-template pTemplate="header">
      <div class="card-color" [ngStyle]="{'background-color': e.color}"></div>
    </ng-template>
    <!-- Truncate with ellipsis & tooltip -->
    <div class="card-title" [title]="e.instrument">{{ e.instrument || 'No Name' }}</div>
    <div class="card-value">{{ e.instrument_total_count || 'No instrument' }}</div>
    <div class="status">{{ e.entityid }}</div>
  </p-card>
</div>

<!-- MCAP Chart -->
<div class="counts-card" style="margin-bottom: 2rem;">
  <p-card styleClass="P-card">
    <h4>Instrument Allocation</h4>

    <div class="card-content">
      <div class="counts-section">
        <h4>Total Number of Instruments : {{ actionCounts?.total_count }}</h4>

        <div *ngFor="let tag of totalCountList" class="count-item">
          <span class="dot" [ngStyle]="{'background-color': tag.color || '#42A5F5'}"></span>
          <span class="label">{{ tag.instrument.replace('_', ' ') }}</span>
          <span class="percent">{{ tag.percentage | number:'1.0-2' }}%</span>
        </div>
      </div>

      <div class="chart-section">
        <p-chart
          *ngIf="mcapChartData"
          type="pie"
          [data]="mcapChartData"
          [options]="mcapChartOptions"
        ></p-chart>
      </div>
    </div>
  </p-card>
</div>
