

/* Footer (summary row) */
:host ::ng-deep .summary-row td {
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #e5e7eb;
  font-size: 0.9rem;
}

.summary.green { color: #16a34a; }
.summary.blue { color: #2563eb; }
.summary.red { color: #dc2626; }

/* Optional Sticky Footer */
:host ::ng-deep .p-datatable tfoot {
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 10;
}


//back button css
.back-btn{
  background: rgba(49, 36, 36, 0.2);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

     i {
      font-size: 1rem;
    }

    &:hover {
      background: rgba(41, 40, 40, 0.3);
      transform: scale(1.1);
    }

}

.first-div{
  display: flex;
  align-items: center;
  gap: 20px;
}
