<h3>Welcome To The Equity Home</h3>

<!-- Search Section -->
<div class="search-section">
  <p-autoComplete [(ngModel)]="selectedDirectEquityName" [suggestions]="filteredDENames" (completeMethod)="searchDEs($event)"
    (onSelect)="scrollToDE($event)" field="nickname" placeholder="Search E..." [minLength]="1">
  </p-autoComplete>

  <button *ngIf="selectedDirectEquityName" pButton icon="pi pi-times" class="p-button-text" (click)="clearSearch()">
  </button>
</div>

<!-- Carousel -->
<p-carousel [value]="displayDEs" [numVisible]="3" [numScroll]="3" [circular]="false"
  [responsiveOptions]="responsiveOptions" *ngIf="!selectedDirectEquityName">

  <ng-template let-de pTemplate="item">
    <p-card styleClass="P-card" (click)="goToDirectEquityDetails(de)" [ngStyle]="{ cursor: 'pointer' }">
      <ng-template pTemplate="header">
        <div class="card-color" [ngStyle]="{'background-color': getColor(de.nickname)}"></div>
      </ng-template>
      <!-- Truncate with ellipsis & tooltip -->
      <div class="card-title" [title]="de.nickname">{{ de.nickname || 'No Name' }}</div>
      <div class="card-value">{{ de.subcategory || 'No Subcategory' }}</div>
      <div class="status">{{ de.entityid }}</div>
    </p-card>
  </ng-template>
</p-carousel>

<!-- Search Result Card -->
<div *ngIf="selectedDirectEquityName" class="card-container">
  <p-card *ngFor="let de of displayDEs" styleClass="P-card">
    <ng-template pTemplate="header">
      <div class="card-color" [ngStyle]="{'background-color': getColor(de.nickname)}"></div>
    </ng-template>
    <!-- Truncate with ellipsis & tooltip -->
    <div class="card-title" [title]="de.nickname">{{ de.nickname || 'No Name' }}</div>
    <div class="card-value">{{ de.subcategory || 'No Subcategory' }}</div>
    <div class="status">{{ de.entityid }}</div>
  </p-card>
</div>

 
