<h3>Welcome To The {{actionTableList[0]?.scrip_name || "Mutual Fund"}}</h3>

<div class="table-card">
  <div class="search-header p-d-flex p-ai-center p-jc-between">
    <h4>Summary Of Actions <button pButton type="button" label="IRR = {{irrResult || 0}}%" class="p-button-sm"
        style="transform: translateY(-15px); height: 25px; "></button></h4>
    <div class="search-container">
      <input pInputText type="text" (input)="onGlobalFilter($event, 'action')" placeholder="Search actions..." />
    </div>
  </div>
  <p-table #actionTableSummary [value]="actionTableList" dataKey="id" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['unit', 'order_date', 'order_type', 'purchase_amount','scrip_name']" scrollHeight="700px"
    responsiveLayout="scroll">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="scrip_name">Scrip Name <p-sortIcon field="scrip_name"></p-sortIcon></th>
        <th pSortableColumn="unit">Units <p-sortIcon field="unit"></p-sortIcon></th>
        <th pSortableColumn="order_date">Order Date <p-sortIcon field="order_date"></p-sortIcon></th>
        <th pSortableColumn="order_type">Action <p-sortIcon field="order_type"></p-sortIcon></th>
        <th pSortableColumn="purchase_amount">Amount <p-sortIcon field="purchase_amount"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{ entity.scrip_name }}</td>
        <td>{{ entity.unit | number:'1.2-2' }}</td>
        <td>{{ entity.order_date }}</td>
        <td>{{ entity.order_type }}</td>
        <td>{{ entity.purchase_amount | number:'1.2-2' }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2" class="text-right font-bold p-3 pb-0">Purchases</td>
        <td colspan="3" class="font-bold p-3 pb-0">
          Units: {{ totalPurchaseUnits | number:'1.2-2' }} |
          Amount: {{ totalPurchaseAmount | currency:'INR' }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-right font-bold p-3 pb-0">Available</td>
        <td colspan="3" class="font-bold p-3 pb-0">
          Units: {{ availableUnits | number:'1.2-2' }} |
          Amount: {{ availableAmount | currency:'INR' }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-right font-bold p-3 pb-0">Sales</td>
        <td colspan="3" class="font-bold p-3 pb-0">
          Units: {{ totalSalesUnits | number:'1.2-2' }} |
          Amount: {{ totalSalesAmount | currency:'INR' }}
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>

<div class="table-card">
  <div class="search-header p-d-flex p-ai-center p-jc-between">
    <h4>Summary Of Underlying</h4>
    <h6 *ngIf="underlyingTableList?.length" class="underlying-date">
      The underlying table is as of
      <span class="date-value">{{ underlyingTableList[0]?.created_at | date:'dd MMM yyyy' }}</span>
    </h6>
    <div class="search-container">
      <input pInputText type="text" (input)="onGlobalFilter($event, 'underlying')" placeholder="Search underlying..." />
    </div>
  </div>
  <p-table #underlyingTable [value]="underlyingTableList" dataKey="id" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['scripcode', 'weightage', 'isin_code','company_name']"
    scrollHeight="700px" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="company_name">Company Name <p-sortIcon field="company_name"></p-sortIcon></th>
        <th pSortableColumn="scripcode">Scrip Code <p-sortIcon field="scripcode"></p-sortIcon></th>
        <th pSortableColumn="weightage">Weightage <p-sortIcon field="weightage"></p-sortIcon></th>
        <th pSortableColumn="sector">Sector <p-sortIcon field="sector"></p-sortIcon></th>
        <th pSortableColumn="isin_code">ISIN <p-sortIcon field="isin_code"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{ entity.company_name }}</td>
        <td>{{ entity.scripcode }}</td>
        <td>{{ entity.weightage }} %</td>
        <td>{{ entity.sector }}</td>
        <td>{{ entity.isin_code }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Pie Chart Card -->
<div class="counts-card" style="margin-bottom: 2rem;">
  <p-card header="MCAP Tag Allocation" styleClass="P-card">
    <div class="card-content">
      <div class="counts-section">
        <div>
          <h4>Total Companies : {{underlyingTableList.length}}</h4>
        </div>
        <div class="count-item">
          <span class="dot lcap"></span>
          <span class="label">Large Cap</span>
          <span class="percent">{{ actionCounts?.lcap_percent | number:'1.0-1' }}%</span>
        </div>
        <div class="count-item">
          <span class="dot mcap"></span>
          <span class="label">Mid Cap</span>
          <span class="percent">{{ actionCounts?.mcap_percent | number:'1.0-1' }}%</span>
        </div>
        <div class="count-item">
          <span class="dot scap"></span>
          <span class="label">Small Cap</span>
          <span class="percent">{{ actionCounts?.scap_percent | number:'1.0-1' }}%</span>
        </div>
      </div>

      <div class="chart-section">
        <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>
  </p-card>
</div>